include LICENSE
include README.md
include COLAB_README.md
include __version__.py
include colab_install.py

recursive-include forestgaps *.py
recursive-include config *.yaml *.yml *.json
recursive-include examples *.py *.ipynb

# Exclure les fichiers de développement
global-exclude *.py[cod] __pycache__ *.so
global-exclude .git* .DS_Store .vscode/* .idea/* 